/*
 * @version $Id$
 */

/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */

.makeMenu li ul {
	top: -6px; 
}
/*==========  IE7 Fixes ============================= */
.rela {
	filter: alpha(opacity=67);
}

a.showit:hover span {
	filter: alpha(opacity=85);
}

.makeMenu li ul {
	top: -6px;
	*top: 8px; 
}
#menu-theme, #menu-language, #menu-theme, #menu-favorites {
	*padding-right: 10px
	}

div.blockcontent {
	*margin-top: -2px; 
}

#topMenu {
position: relative; z-index: 2001; 
}

#header {
  position: relative; z-index: 2002; 
}
