/*
 * @version $Id$
 */

/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */

.rela {
	filter: alpha(opacity=67);
}

a.showit:hover span {
	filter: alpha(opacity=85);
}
/* IE7 fixs */
.makeMenu li ul {
	top: 2px;
	*top: 8px; 
}
#menu-theme, #menu-language, #menu-theme, #menu-favorites {*padding-right: 10px}

