/* Menu icons moved to file sprite-menu-icons.css */
/********************Menu Top Row Icons **********************/

#menu-tree      { background-position:center   -0px; } 
#menu-chart     { background-position:center  -29px; }    
#menu-list      { background-position:center  -58px; } 
#menu-calendar  { background-position:center  -87px; } 
#menu-report    { background-position:center -116px; } 
#menu-search    { background-position:center -145px; } 
#menu-help      { background-position:center -174px; }
#menu-mymenu    { background-position:center -203px; }
#menu-clippings { background-position:center -232px; }
#menu-indi      { background-position:center -261px; }
#menu-sour      { background-position:center -319px; }
#menu-fam       { background-position:center -290px; }
#menu-note      { background-position:center -348px; }
#menu-obje      { background-position:center -377px; }
#menu-repo      { background-position:center -406px; }
     
/*******************Menu submenu Icons**********************/
/* Chart Icons */
#menu-chart-ancestry        { background-position:left   -0px; } html[dir=rtl] #menu-chart-ancestry         { background-position:right   -0px; } 
#menu-chart-fanchart        { background-position:left  -23px; } html[dir=rtl] #menu-chart-fanchart         { background-position:right  -23px; }
#menu-chart-compact         { background-position:left  -46px; } html[dir=rtl] #menu-chart-compact          { background-position:right  -46px; }
#menu-chart-descendancy     { background-position:left  -69px; } html[dir=rtl] #menu-chart-descendancy      { background-position:right  -69px; } 
#menu-chart-familybook      { background-position:left  -92px; } html[dir=rtl] #menu-chart-familybook       { background-position:right  -92px; }
#menu-chart-hourglass       { background-position:left -115px; } html[dir=rtl] #menu-chart-hourglass        { background-position:right -115px; }
#menu-chart-tree            { background-position:left -138px; } html[dir=rtl] #menu-chart-tree             { background-position:right -138px; } 
#menu-chart-lifespan        { background-position:left -161px; } html[dir=rtl] #menu-chart-lifespan         { background-position:right -161px; }
#menu-chart-pedigree        { background-position:left -184px; } html[dir=rtl] #menu-chart-pedigree         { background-position:right -184px; }
#menu-chart-pedigree_map    { background-position:left -207px; } html[dir=rtl] #menu-chart-pedigree_map     { background-position:right -207px; }
#menu-chart-relationship    { background-position:left -230px; } html[dir=rtl] #menu-chart-relationship     { background-position:right -230px; }
#menu-chart-relationship li { background-position:left -230px; } html[dir=rtl] #menu-chart-relationship li  { background-position:right -230px; }
#menu-chart-statistics      { background-position:left -253px; } html[dir=rtl] #menu-chart-statistics       { background-position:right -253px; }
#menu-chart-timeline        { background-position:left -276px; } html[dir=rtl] #menu-chart-timeline         { background-position:right -276px; }

/* Lists Icons */
#menu-list-obje             { background-position:left -299px; } html[dir=rtl] #menu-list-obje              { background-position:right -299px; }
#menu-list-plac             { background-position:left -322px; } html[dir=rtl] #menu-list-plac              { background-position:right -322px; }
#menu-list-repo             { background-position:left -345px; } html[dir=rtl] #menu-list-repo              { background-position:right -345px; }
#menu-list-note             { background-position:left -368px; } html[dir=rtl] #menu-list-note              { background-position:right -368px; } 
#menu-list-sour             { background-position:left -391px; } html[dir=rtl] #menu-list-sour              { background-position:right -391px; }
#menu-branches              { background-position:left -414px; } html[dir=rtl] #menu-branches               { background-position:right -414px; }
#menu-list-fam              { background-position:left -437px; } html[dir=rtl] #menu-list-fam               { background-position:right -437px; }
#menu-list-indi             { background-position:left -460px; } html[dir=rtl] #menu-list-indi              { background-position:right -460px; }

/* Report Icons */
#menu-report li             { background-position:left -483px; } html[dir=rtl] #menu-report li              { background-position:right -483px; }

/* Calendar Icons */
#menu-calendar-day          { background-position:left -506px; } html[dir=rtl] #menu-calendar-day           { background-position:right -506px; }
#menu-calendar-month        { background-position:left -506px; } html[dir=rtl] #menu-calendar-month         { background-position:right -506px; }
#menu-calendar-year         { background-position:left -506px; } html[dir=rtl] #menu-calendar-year          { background-position:right -506px; }

/* Search Icons */
#menu-search-general        { background-position:left -529px; } html[dir=rtl] #menu-search-general         { background-position:right -529px; }
#menu-search-soundex        { background-position:left -529px; } html[dir=rtl] #menu-search-soundex         { background-position:right -529px; }
#menu-search-advanced       { background-position:left -529px; } html[dir=rtl] #menu-search-advanced        { background-position:right -529px; } 
#menu-search-replace        { background-position:left -529px; } html[dir=rtl] #menu-search-replace         { background-position:right -529px; }

/* Help Icons */
#menu-help-genealogy        { background-position:left -552px; } html[dir=rtl] #menu-help-genealogy         { background-position:right -552px; }
#menu-help-show             { background-position:left -552px; } html[dir=rtl] #menu-help-show              { background-position:right -552px; } 
#menu-help-contents         { background-position:left -552px; } html[dir=rtl] #menu-help-contents          { background-position:right -552px; }
#menu-help-hide             { background-position:left -552px; } html[dir=rtl] #menu-help-hide              { background-position:right -552px; }
#menu-help-wiki             { background-position:left -575px; } html[dir=rtl] #menu-help-wiki              { background-position:right -575px; }
#menu-help-technical        { background-position:left -598px; } html[dir=rtl] #menu-help-technical         { background-position:right -598px; }

/* MyPage Icons */
#menu-mypage                { background-position:left -598px; } html[dir=rtl] #menu-mypage                 { background-position:right -598px; }
#menu-myaccount             { background-position:left -598px; } html[dir=rtl] #menu-myaccount              { background-position:right -598px; }
#menu-mypedigree            { background-position:left -828px; } html[dir=rtl] #menu-mypedigree             { background-position:right -828px; }          
#menu-myrecord              { background-position:left -460px; } html[dir=rtl] #menu-myrecord               { background-position:right -460px; }
#menu-admin                 { background-position:left -644px; } html[dir=rtl] #menu-admin                  { background-position:right -644px; }
#menu-tree li               { background-position:left -667px; } html[dir=rtl] #menu-tree li                { background-position:right -667px; }

/* Family Icons  */
#menu-fam-addchil           { background-position:left -759px; } html[dir=rtl] #menu-fam-addchil            { background-position:right -759px; }
#menu-fam-addfav            { background-position:left -736px; } html[dir=rtl] #menu-fam-addfav             { background-position:right -736px; }
#menu-fam-change            { background-position:left -759px; } html[dir=rtl] #menu-fam-change             { background-position:right -759px; }
#menu-fam-del               { background-position:left -713px; } html[dir=rtl] #menu-fam-del                { background-position:right -713px; }
#menu-fam-editraw           { background-position:left -667px; } html[dir=rtl] #menu-fam-editraw            { background-position:right -667px; }
#menu-fam-orderchil         { background-position:left -759px; } html[dir=rtl] #menu-fam-orderchil          { background-position:right -759px; }

/* Clipping Icons */
#menu-clippingscart         { background-position:left -621px; } html[dir=rtl] #menu-clippingscart          { background-position:right -621px; }
#menu-clippingsadd          { background-position:left -621px; } html[dir=rtl] #menu-clippingsadd           { background-position:right -621px; } 

/* Edit Icons */
#menu-indi-editraw          { background-position:left -667px; } html[dir=rtl] #menu-indi-editraw           { background-position:right -667px; }
#menu-indi-addname          { background-position:left -690px; } html[dir=rtl] #menu-indi-addname           { background-position:right -690px; }
#menu-indi-editsex          { background-position:left -690px; } html[dir=rtl] #menu-indi-editsex           { background-position:right -690px; }
#menu-indi-del              { background-position:left -713px; } html[dir=rtl] #menu-indi-del               { background-position:right -713px; }
#menu-indi-addfav           { background-position:left -736px; } html[dir=rtl] #menu-indi-addfav            { background-position:right -736px; }

/* Edit Notes  */
#menu-note-addfav           { background-position:left -736px; } html[dir=rtl] #menu-note-fav               { background-position:right -736px; }
#menu-note-del              { background-position:left -713px; } html[dir=rtl] #menu-note-del               { background-position:right -713px; }
#menu-note-edit             { background-position:left -805px; } html[dir=rtl] #menu-note-edit              { background-position:right -805px; }
#menu-note-editraw          { background-position:left -667px; } html[dir=rtl] #menu-note-editraw           { background-position:right -667px; }

/* Objects  */
#menu-obje-addfav           { background-position:left -736px; } html[dir=rtl] #menu-obje-addfav            { background-position:right -736px; }
#menu-obje-del              { background-position:left -713px; } html[dir=rtl] #menu-obje-del               { background-position:right -713px; }
#menu-obje-edit             { background-position:left -852px; } html[dir=rtl] #menu-obje-edit              { background-position:right -852px; }
#menu-obje-editraw          { background-position:left -667px; } html[dir=rtl] #menu-obje-editraw           { background-position:right -667px; }
#menu-obje-link             { background-position:left -875px; } html[dir=rtl] #menu-obje-link              { background-position:right -875px; }
#menu-obje-linkfam          { background-position:left -437px; } html[dir=rtl] #menu-obje-linkfam           { background-position:right -437px; }
#menu-obje-link-ind         { background-position:left -460px; } html[dir=rtl] #menu-obje-link-ind          { background-position:right -460px; }
#menu-obje-link-sour        { background-position:left -391px; } html[dir=rtl] #menu-obje-link-sour         { background-position:right -391px; }

/* Repository */
#menu-repo-addfav           { background-position:left -736px; } html[dir=rtl] #menu-repo-addfav            { background-position:right -736px; }
#menu-repo-del              { background-position:left -713px; } html[dir=rtl] #menu-repo-del               { background-position:right -713px; }
#menu-repo-edit             { background-position:left -897px; } html[dir=rtl] #menu-repo-edit              { background-position:right -897px; }
#menu-repo-editraw          { background-position:left -667px; } html[dir=rtl] #menu-repo-editraw           { background-position:right -667px; }

/*  Source  */
#menu-sour-addfav           { background-position:left -736px; } html[dir=rtl] #menu-sour-addfav            { background-position:right -736px; }
#menu-sour-del              { background-position:left -713px; } html[dir=rtl] #menu-sour-del               { background-position:right -713px; }
#menu-sour-edit             { background-position:left -782px; } html[dir=rtl] #menu-sour-edit              { background-position:right -782px; }
#menu-sour-editraw          { background-position:left -667px; } html[dir=rtl] #menu-sour-editraw           { background-position:right -667px; }

#menu-language li {text-align:left;} /* The language menu is always LTR, even on RTL pages */
#menu-theme    li {text-align:left;} /* The theme menu is always LTR, even on RTL pages */
