/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package webtrees
 * @subpackage Themes
 * @version $Id$
 */
body {
	direction: rtl;
	text-align: right;
}
html {
	direction: rtl;
	white-space: normal;
}

.toplinks_left {
padding-right: 10px;
}
.image {
	margin-right: 0px;
	margin-left: 15px;
}
#header {
	width: 100%;
	text-align: right;
	direction: rtl;
	caption-side: left;
	display: table;
}
.blockhc {
	padding-left: 15px;
	padding-right: 5px;
}
.toplinks_right {
padding-left: 15px;
} 
.icon, .adminicon {
border:none;
padding-top:1px;
padding-left:6px;
padding-right:0pt;
}

.submenuitem .icon, .submenuitem_hover .icon {
padding-right:0px;
}

.blockh1 {
	background-image: url(images/right1B.gif);
}

.blockh3 {
	background-image: url(images/right3.gif);
}

#login_block .blockh1 {
	background-image: url(images/right1G.gif);
}

#logout_block .blockh1 {
	background-image: url(images/right1R.gif);
}
