/*
 * The following style definitions can be removed when IE supports the "opacity"
 * specification in place of its proprietary and non-standard method.
 */

.rela {filter: alpha(opacity=80);}
a.showit:hover > span {filter: alpha(opacity=80);}
.itr { top: 30px;}
.itr:hover .popup {top: 20px;}




