/* $Id: msie.css 12005 2011-07-13 16:42:44Z rob $ */

/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */

html[dir='rtl'] #links {*left:0px;}
#admin_menu ul {*margin:0 0 0 10px;}
html[dir='rtl'] #admin_menu ul {*margin:0 10px 0 0;}
#admin_menu li ul {	*margin:0 0 0 20px;}
html[dir='rtl'] #admin_menu li ul {*margin:0 20px 0 0;}
#admin_menu ul li ul, html[dir='rtl'] #admin_menu li ul {*margin-top:-20px;}
#admin_menu {*position:relative;}
#admin_menu ul {*margin:0 0 0 10px;}
html[dir='rtl'] #admin_menu ul {*margin:0 10px 0 0;}
#admin_menu li ul {	*margin:0 0 0 20px;}
html[dir='rtl'] #admin_menu li ul {*margin:0 20px 0 0;}
#admin_menu ul li ul, html[dir='rtl'] #admin_menu li ul {*margin-top:-20px;}

/* IE <= 8 does not support text-align:start */
#file-options th,
#privacy th,
#config-media th,
#access-options th,
#layout-options th,
#hide-show th,
#edit-options th {
	text-align:left;
}
html[dir=rtl] #file-options th,
html[dir=rtl] #privacy th,
html[dir=rtl] #config-media th,
html[dir=rtl] #access-options th,
html[dir=rtl] #layout-options th,
html[dir=rtl] #hide-show th,
html[dir=rtl] #edit-options th {
	text-align:right;
}

