# Exclude the following files when we build webtrees

.gitattributes export-ignore
.gitignore     export-ignore
.travis.yml    export-ignore
Makefile       export-ignore
build/         export-ignore
js/*.patch     export-ignore
phpunit.xml    export-ignore
library/bombayworks/zendframework1/library/Zend/Acl/           export-ignore
library/bombayworks/zendframework1/library/Zend/Amf/           export-ignore
library/bombayworks/zendframework1/library/Zend/Application/   export-ignore
library/bombayworks/zendframework1/library/Zend/Auth/          export-ignore
library/bombayworks/zendframework1/library/Zend/Barcode/       export-ignore
library/bombayworks/zendframework1/library/Zend/Captcha/       export-ignore
library/bombayworks/zendframework1/library/Zend/CodeGenerator/ export-ignore
library/bombayworks/zendframework1/library/Zend/Console/       export-ignore
library/bombayworks/zendframework1/library/Zend/Config/        export-ignore
library/bombayworks/zendframework1/library/Zend/Crypt/         export-ignore
library/bombayworks/zendframework1/library/Zend/Currency/      export-ignore
library/bombayworks/zendframework1/library/Zend/Date/          export-ignore
library/bombayworks/zendframework1/library/Zend/Db/            export-ignore
library/bombayworks/zendframework1/library/Zend/Dojo/          export-ignore
library/bombayworks/zendframework1/library/Zend/Dom/           export-ignore
library/bombayworks/zendframework1/library/Zend/Feed/          export-ignore
library/bombayworks/zendframework1/library/Zend/File/          export-ignore
library/bombayworks/zendframework1/library/Zend/Form/          export-ignore
library/bombayworks/zendframework1/library/Zend/Gdata/         export-ignore
library/bombayworks/zendframework1/library/Zend/Infocard/      export-ignore
library/bombayworks/zendframework1/library/Zend/Json/          export-ignore
library/bombayworks/zendframework1/library/Zend/Layout/        export-ignore
library/bombayworks/zendframework1/library/Zend/Ldap/          export-ignore
library/bombayworks/zendframework1/library/Zend/Log/           export-ignore
library/bombayworks/zendframework1/library/Zend/Markup/        export-ignore
library/bombayworks/zendframework1/library/Zend/Measure/       export-ignore
library/bombayworks/zendframework1/library/Zend/Memory/        export-ignore
library/bombayworks/zendframework1/library/Zend/Navigation/    export-ignore
library/bombayworks/zendframework1/library/Zend/Oauth/         export-ignore
library/bombayworks/zendframework1/library/Zend/OpenId/        export-ignore
library/bombayworks/zendframework1/library/Zend/Paginator/     export-ignore
library/bombayworks/zendframework1/library/Zend/Pdf/           export-ignore
library/bombayworks/zendframework1/library/Zend/ProgressBar/   export-ignore
library/bombayworks/zendframework1/library/Zend/Queue/         export-ignore
library/bombayworks/zendframework1/library/Zend/Reflection/    export-ignore
library/bombayworks/zendframework1/library/Zend/Rest/          export-ignore
library/bombayworks/zendframework1/library/Zend/Search/        export-ignore
library/bombayworks/zendframework1/library/Zend/Serializer/    export-ignore
library/bombayworks/zendframework1/library/Zend/Service/       export-ignore
library/bombayworks/zendframework1/library/Zend/Soap/          export-ignore
library/bombayworks/zendframework1/library/Zend/Test/          export-ignore
library/bombayworks/zendframework1/library/Zend/Text/          export-ignore
library/bombayworks/zendframework1/library/Zend/TimeSync/      export-ignore
library/bombayworks/zendframework1/library/Zend/Tool/          export-ignore
library/bombayworks/zendframework1/library/Zend/View/          export-ignore
library/bombayworks/zendframework1/library/Zend/Wildfire/      export-ignore
library/bombayworks/zendframework1/library/Zend/XmlRpc/        export-ignore
tests/                                                         export-ignore
