.phpunit.cache/

/modules_v4/

/node_modules/

/public/mix-manifest.json
/public/css/*.map
/public/css/*/*.map
/public/js/*.map
/public/js/*.js.LICENSE.txt
/public/robots.txt

/resources/lang/webtees.pot
/resources/lang/*/messages.php
!/resources/lang/en-US/messages.php

/robots.txt

/tests/clover.xml
/tests/coverage
/vendor/
