# Exclude the following files when we build webtrees

.git*                       export-ignore

build                       export-ignore

language/*.po               export-ignore

library/Zend/Acl/           export-ignore
library/Zend/Amf/           export-ignore
library/Zend/Application/   export-ignore
library/Zend/Auth/          export-ignore
library/Zend/Barcode/       export-ignore
library/Zend/Captcha/       export-ignore
library/Zend/CodeGenerator/ export-ignore
library/Zend/Console/       export-ignore
library/Zend/Config/        export-ignore
library/Zend/Crypt/         export-ignore
library/Zend/Currency/      export-ignore
library/Zend/Date/          export-ignore
library/Zend/Db/            export-ignore
library/Zend/Dojo/          export-ignore
library/Zend/Dom/           export-ignore
library/Zend/Feed/          export-ignore
library/Zend/File/          export-ignore
library/Zend/Form/          export-ignore
library/Zend/Gdata/         export-ignore
library/Zend/Http/          export-ignore
library/Zend/Infocard/      export-ignore
library/Zend/Json/          export-ignore
library/Zend/Layout/        export-ignore
library/Zend/Ldap/          export-ignore
library/Zend/Log/           export-ignore
library/Zend/Mail           export-ignore
library/Zend/Markup         export-ignore
library/Zend/Measure        export-ignore
library/Zend/Memory         export-ignore
library/Zend/Mime           export-ignore
library/Zend/Navigation     export-ignore
library/Zend/Oauth          export-ignore
library/Zend/OpenId         export-ignore
library/Zend/Paginator      export-ignore
library/Zend/Pdf            export-ignore
library/Zend/ProgressBar    export-ignore
library/Zend/Queue          export-ignore
library/Zend/Reflection     export-ignore
library/Zend/Rest           export-ignore
library/Zend/Search         export-ignore
library/Zend/Serializer     export-ignore
library/Zend/Service        export-ignore
library/Zend/Soap           export-ignore
library/Zend/Test           export-ignore
library/Zend/Text           export-ignore
library/Zend/TimeSync       export-ignore
library/Zend/Tool           export-ignore
library/Zend/Validate       export-ignore
library/Zend/View           export-ignore
library/Zend/Wildfire       export-ignore
library/Zend/XmlRpc         export-ignore
