.phpunit.cache/

/build

/modules_v4/

/node_modules/

/public/mix-manifest.json
/public/css/*.map
/public/css/*/*.map
/public/js/*.map
/public/js/*.js.LICENSE.txt
/public/robots.txt

/resources/lang/webtrees-js.pot
/resources/lang/webtrees-phtml.pot
/resources/lang/webtrees-php.pot
/resources/lang/webtrees-xml.pot
/resources/lang/*/messages.php

/robots.txt

/vendor/
