[submodule "modules_v3/fancy_treeview"]
	path = modules_v3/fancy_treeview
	url = https://github.com/JustCarmen/fancy_treeview
[submodule "modules_v3/fancy_research_links"]
	path = modules_v3/fancy_research_links
	url = https://github.com/JustCarmen/fancy_research_links
[submodule "modules_v3/justblack_theme_options"]
	path = modules_v3/justblack_theme_options
	url = https://github.com/JustCarmen/justblack_theme_options.git
[submodule "themes/justblack"]
	path = themes/justblack
	url = https://github.com/JustCarmen/justblack
[submodule "modules_v3/fancy_database_backup"]
	path = modules_v3/fancy_database_backup
	url = https://github.com/JustCarmen/fancy_database_backup.git
[submodule "modules_v3/fancy_privacy_list"]
	path = modules_v3/fancy_privacy_list
	url = https://github.com/JustCarmen/fancy_privacy_list.git
