# Exclude the following files when we build webtrees

.coveralls.yml        export-ignore
.gitattributes        export-ignore
.github/              export-ignore
.gitignore            export-ignore
.php_cs               export-ignore
.travis.yml           export-ignore
composer.json         export-ignore
composer.lock         export-ignore
package.json          export-ignore
package-lock.json     export-ignore
phpunit.xml.dist      export-ignore
phpstan.neon.dist     export-ignore
phpstan-baseline.neon export-ignore
tests/                export-ignore
webpack.mix.js        export-ignore

vendor/*/*/tests      export-ignore
vendor/*/*/Tests      export-ignore

resources/css/               export-ignore
resources/js/                export-ignore
resources/lang/*/messages.po export-ignore
