/modules_v4/*
!/modules_v4/example*

/public/mix-manifest.json
/public/css/*.map
/public/css/*/*.map
/public/js/*.map
/public/js/*.js.LICENSE.txt
/public/robots.txt

/node_modules/

/resources/lang/webtees.pot
/resources/lang/*/messages.php
!/resources/lang/en-US/messages.php

/robots.txt

/tests/clover.xml
/tests/coverage
/vendor/
