parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Fisharebest\\Webtrees\\GedcomRecord\:\:getBirthDate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: resources/views/edit/reorder-children.phtml

		-
			message: '#^Call to an undefined method Fisharebest\\Webtrees\\GedcomRecord\:\:getMarriageDate\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: resources/views/edit/reorder-families.phtml

		-
			message: '#^Call to an undefined method Fisharebest\\Webtrees\\GedcomRecord\:\:displayImage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: resources/views/edit/reorder-media.phtml

		-
			message: '#^Call to an undefined method Fisharebest\\Webtrees\\GedcomRecord\:\:displayImage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: resources/views/modules/pedigree-map/events.phtml
