includes:
    - phpstan-baseline.neon

parameters:
    fileExtensions:
        - php
        - phtml

    level: max

    paths:
        - index.php
        - public/index.php
        - app
        - resources/views
        - tests
