parameters:
	ignoreErrors:
		-
			rawMessage: '''
				Call to deprecated method legacyNameAlgorithm() of class Fisharebest\Webtrees\Services\RelationshipService:
				This code was originally Functions::getRelationshipNameFromPath
			'''
			identifier: method.deprecated
			count: 1
			path: app/Module/PedigreeMapModule.php

		-
			rawMessage: '''
				Call to deprecated method legacyNameAlgorithm() of class Fisharebest\Webtrees\Services\RelationshipService:
				This code was originally Functions::getRelationshipNameFromPath
			'''
			identifier: method.deprecated
			count: 5
			path: app/Module/RelationshipsChartModule.php

		-
			rawMessage: Access to an undefined property Fisharebest\Webtrees\GedcomRecord::$generation.
			identifier: property.notFound
			count: 1
			path: app/Report/ReportParserGenerate.php

		-
			rawMessage: 'Call to an undefined method Fisharebest\Webtrees\GedcomRecord::sex().'
			identifier: method.notFound
			count: 17
			path: app/Services/IndividualFactsService.php

		-
			rawMessage: '''
				Call to deprecated method legacyNameAlgorithm() of class Fisharebest\Webtrees\Services\RelationshipService:
				This code was originally Functions::getRelationshipNameFromPath
			'''
			identifier: method.deprecated
			count: 1
			path: app/Services/RelationshipService.php

		-
			rawMessage: 'Call to an undefined method Fisharebest\Webtrees\GedcomRecord::getBirthDate().'
			identifier: method.notFound
			count: 1
			path: resources/views/edit/reorder-children.phtml

		-
			rawMessage: 'Call to an undefined method Fisharebest\Webtrees\GedcomRecord::getMarriageDate().'
			identifier: method.notFound
			count: 2
			path: resources/views/edit/reorder-families.phtml

		-
			rawMessage: 'Call to an undefined method Fisharebest\Webtrees\GedcomRecord::displayImage().'
			identifier: method.notFound
			count: 1
			path: resources/views/edit/reorder-media.phtml

		-
			rawMessage: 'Call to an undefined method Fisharebest\Webtrees\GedcomRecord::displayImage().'
			identifier: method.notFound
			count: 1
			path: resources/views/modules/pedigree-map/events.phtml
