<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  requireCoverageMetadata="true"
>
  <testsuites>
    <testsuite name="Unit tests">
      <directory>tests/app</directory>
    </testsuite>
    <testsuite name="Feature tests">
      <directory>tests/feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>
</phpunit>
