<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Block Bad Bots" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_USER_AGENT}" pattern=".*seokicks.*" />
                        <add input="{HTTP_USER_AGENT}" pattern=".*petalsearch.*" />
                        <add input="{HTTP_USER_AGENT}" pattern=".*SeekportBot.*" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
                <rule name="Webtrees .git etc" enabled="true" stopProcessing="true">
                    <match url="^\." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden - internal config" statusDescription="Forbidden" />
                </rule>
                <rule name="Webtrees data">
                    <match url="^data(/|$)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Webtrees app">
                    <match url="^app(/|$)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Webtrees modules">
                    <match url="^modules" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Webtrees resources">
                    <match url="^resources(/|$)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Webtrees vendor">
                    <match url="^vendor(/|$)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="webtrees route= &amp;" enabled="false" stopProcessing="true">
                    <match url="index\.php?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="route=(%2F|/)(.*)&amp;(.*)" />
                    </conditions>
                    <action type="Redirect" url="/{C:2}?{C:3}" appendQueryString="false" />
                </rule>
                <rule name="Webtrees route=" enabled="false" stopProcessing="true">
                    <match url="index\.php?" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{QUERY_STRING}" pattern="route=(%2F|/)(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="/{C:2}" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
                <rule name="Webtrees Rewrite Test" enabled="true" stopProcessing="true">
                    <match url="test.*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="urlrewrite.php" appendQueryString="true" logRewrittenUrl="false" />
                    <serverVariables>
                        <set name="REQUEST_URI" value="{UNENCODED_URL}" />
                    </serverVariables>
                </rule>
                <rule name="Webtrees Rewrite" enabled="true" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" logRewrittenUrl="false" />
                    <serverVariables>
                        <set name="REQUEST_URI" value="{UNENCODED_URL}" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="40960" maxQueryString="20480" />
            </requestFiltering>
        </security>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="403,500-599" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
