/* Basic style for the Fancy Privacy Check module - this css file is suitable for all themes.
/* No specific theme stylesheets required
*/

dl#privacy_status{overflow:hidden}
dl#privacy_status dt{float:none;width:100%}
dl#privacy_status dd{font-size:80%;float:left;margin:0 0 0 20px}
dl#privacy_status dt span{float:right}
html[dir=\'rtl\'] dl#privacy_status dd{float:right;margin:0 20px 0 0}
html[dir=\'rtl\'] dl#privacy_status dt span{float: left}
#privacy_status_help dt{float:left;clear:left;width:100px}
#privacy_status_help dd{margin: 0 0 8px 110px}
html[dir=\'rtl\'] #privacy_status_help dt{float:right;clear:right}
html[dir=\'rtl\'] #privacy_status_help dd{margin: 0 110px 8px 0}


