/* $Id: msie.css 12828 2011-11-20 15:43:11Z rob $ */

.rela {filter: alpha(opacity=80);}
.ltr {text-align: left;}

#content {*margin-top: 50px;}
#fav-menu {*left: 30px;}
html[dir='rtl'] #fav-menu {*right: 30px;}

.itr {height: 30px;}
.itr:hover .popup {top: 28px;}