/*/
!/GEDFact_assistant/
!/ahnentafel_report/
!/ancestors_chart/
!/batch_update/
!/bdm_report/
!/birth_report/
!/cemetery_report/
!/change_report/
!/charts/
!/ckeditor/
!/clippings/
!/compact_tree_chart/
!/death_report/
!/descendancy/
!/descendancy_chart/
!/descendancy_report/
!/extra_info/
!/fact_sources/
!/families/
!/family_book_chart/
!/family_group_report/
!/family_nav/
!/fan_chart/
!/faq/
!/gedcom_block/
!/gedcom_favorites/
!/gedcom_news/
!/gedcom_stats/
!/googlemap/
!/hourglass_chart/
!/html/
!/individual_ext_report/
!/individual_report/
!/individuals/
!/lifespans_chart/
!/lightbox/
!/logged_in/
!/login_block/
!/marriage_report/
!/media/
!/missing_facts_report/
!/notes/
!/occupation_report/
!/openstreetmap/
!/page_menu/
!/pedigree_chart/
!/pedigree_report/
!/personal_facts/
!/random_media/
!/recent_changes/
!/relationships_chart/
!/relative_ext_report/
!/relatives/
!/review_changes/
!/sitemap/
!/sources_tab/
!/statistics_chart/
!/stories/
!/theme_select/
!/timeline_chart/
!/todays_events/
!/todo/
!/top10_givnnames/
!/top10_pageviews/
!/top10_surnames/
!/tree/
!/upcoming_events/
!/user_blog/
!/user_favorites/
!/user_messages/
!/user_welcome/
!/yahrzeit/
