/* $Id$ */

form {
	margin-top: 0px; margin-bottom: 0px;
}

.small_inner_block {
	height: expression( this.scrollHeight > 199 ? "200px" : "auto" );
}

.normal_inner_block {
	width: 100%;
}
.ltr {text-align: left;}
/*
 * The following style definitions can be removed when IE supports the "opacity"
 * specification in place of its proprietary and non-standard method.
 */
.rela {
	filter: alpha(opacity=67);
}

a.showit:hover > span {
	filter: alpha(opacity=85);
}
.itr {right: 5px;}
.itr:hover .popup {top: 20px;}
