html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

#mapCanvas {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
}

#toggle {
	height: 25px;
}

#infoPanel {
	display: none;
	margin: 5px auto 0;
}

#infoPanel div {
	display: none;
	margin-bottom: 5px;
	background: #ffffff;
}

div {
	text-align: center;
}

.gm-iv-address {
	min-height: 60px!important;
}

.gm-iv-address-link a {
	top: 50px;
	left: 20px;
}

