/*
 * @version $Id$
 */

.makeMenu li ul {
	top: 2px!important; 
	z-index: 9000;
}
/*==========  IE7 Fixes ============================= */
.rela {
	filter: alpha(opacity=67);
}

#content 		{ *margin-top: 50px;}

