/* $Id$ */


.rela {filter: alpha(opacity=67);}
.ltr {text-align: left;}

#content {*margin-top: 50px;}
#fav-menu {*left: 30px;}
html[dir='rtl'] #fav-menu {*right: 30px;}

.itr {height: 30px;}
.itr:hover .popup {top: 28px;}
