/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package webtrees
 * @subpackage Themes
 * @version $Id$
 */
body {
	direction: rtl;
	text-align: right;
}
.door {
	direction: rtl;
}
.door dd {
	float: right;
}

.icon, .adminicon {
	border: none;
	padding-left: 5px;
	padding-right: 0;
}
