/**
 * Styles for rtl
 *
 * needed to fix some of the RTL theme problems
 *
 * @package webtrees
 * @subpackage Themes
 * @version $Id$
 */
body {
	direction: rtl;
	text-align: right;
}

#topMenu { float: left; width: 100%;}
#topMenu ul li { float: left; }
#topMenu ul ul li a { text-align: left; }
#topMenu ul ul li { text-align: left; }
#topMenu ul li:hover ul { text-align: left; }
#topMenu ul li ul li { text-align: left; }
#topMenu ul li { float: right; }
#topMenu ul ul li a { text-align: right; }
#topMenu ul ul li { text-align: right; }
#topMenu ul li:hover ul { text-align: right; }
#topMenu ul li ul li { text-align: right; }
#topMenu ul ul { right:0; left: auto;}
.makeMenu {  /* fix IE7 RTE */
*clear: both;
*width: 750px;
}
#topMenu ul {
	right: auto;
	float:left;
	left: 50%;
}
#topMenu ul li {
	float:right;
	right: 50%;
}
#topMenu ul ul li {
	right:auto;  /*resets the right:50% on the parent li */
	clear:right;
	float:right;
	width:100%;
}
