/*
 * @version $Id$
 */

/* 
 * The following style definitions can be removed when IE supports the "opacity" 
 * specification in place of its proprietary and non-standard method.
 */

.rela {
	filter: alpha(opacity=67);
}

a.showit:hover span {
	filter: alpha(opacity=85);
}
.makeMenu li ul {
top: 12px;
	*top:12px; 
}

#menu-theme, #menu-language, #menu-theme, #menu-favorites {*padding-right: 10px}

div.blockcontent {
	*margin-top: -2px; /* IE7 fix */
}

#main-menu {*z-index:5001; }
.makeMenu {*z-index:5001; }
